@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Noto Sans Display', sans-serif;
}

input::placeholder {
  font-size: 0.8125rem;
}

@media (min-width: 500px) {
  input::placeholder {
    font-size: 1rem;
    font-weight: 500;
  }
}
